@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neue Helvetica';
  src: url('./fonts/Helvetica\ Neue\ LT\ W1G\ 75\ Bold.ttf') format('truetype');

  font-weight: 700; /* Bold weight */
}




body {
  margin: 0;
  font-family: 'Neue Helvetica', Arial, sans-serif;

}



.flip {
  animation: flip 500ms ease forwards;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
