@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Helvetica";
  src: url("./fonts/Helvetica\ Neue\ LT\ W1G\ 75\ Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
}

@font-face {
  font-family: "OPTIStymie";
  src: url("./fonts/OPTIStymie-Bold.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "Neue Helvetica", Arial, sans-serif;
}

.logofont {
  font-family: "OPTIStymie", Arial, serif;
}

.flip {
  animation: flip 500ms ease forwards;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.bounce-in-right {
  animation: bounce-in-right 1s ease forwards;
}
@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 3s forwards;
  animation-delay: 1.5s;
}
.fliplogo {
  display: inline-block;
  animation: flip 2s forwards;
  transition: background-color 0.3s, color 0.3s;
  animation-delay: 1s;
}

.grid-box {
  background-color: #0077b6; /* Custom green color */
  color: white;
  font-family: "Neue Helvetica 75 Bold", sans-serif;
  padding: 0 6px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 2px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0077b6;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.fade-in-left {
  animation: fade-in-left 0.5s ease forwards;
}
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
