@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Helvetica";
  src: url("./fonts/Helvetica\ Neue\ LT\ W1G\ 75\ Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
}

@font-face {
  font-family: "OPTIStymie";
  src: url("./fonts/OPTIStymie-Bold.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "Neue Helvetica", Arial, sans-serif;
}

.logofont {
  font-family: "OPTIStymie", Arial, serif;
}

.flip {
  animation: flip 500ms ease forwards;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
